<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %> <%= @beer_club.city %></h2>

<p>
  Founded <%= @beer_club.founded %>
</p>

<h3>Members</h3>

<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>

<% if current_user %>
  <% unless @beer_club.member? current_user %>
    <%= form_for(@membership) do |f| %>
       <%= f.hidden_field :beer_club_id %>
       <%= f.submit value:"join the club" %>
    <% end %>
  <% end %>

  <br>
  <%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
  <br>
  <%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
