<% cache @brewery do %>

    <h2><%= @brewery.name %>
      <% if not @brewery.active  %>
          <span class="label label-info">retired</span>
      <% end %>
    </h2>

    <p>
      <em>Established year:</em>
      <%= @brewery.year %>
    </p>

    <p>Number of beers <%= @brewery.beers.count%> </p>

    <ul>
      <% @brewery.beers.each do |beer| %>
          <li><%= link_to beer.name, beer %></li>
      <% end %>
    </ul>

    <% if @brewery.ratings.empty? %>
        <p>beers of the brewery have not yet been rated! </p>
    <% else %>
        <p>Has <%= pluralize(@brewery.ratings.count,'rating') %>, average <%= round(@brewery.average_rating) %> </p>
    <% end %>

<% end %>

<%= edit_and_destroy_buttons(@brewery) %>

<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
