<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %> <%= @beer_club.city %></h2>

<p>
  Founded <%= @beer_club.founded %>
</p>

<h3>Members</h3>

<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>

<% if @beer_club.member? current_user %>

  <h3>Outstanding applications</h3>

  <ul>
    <% @beer_club.applications.each do |application| %>
      <li><%= link_to application.user.username, application.user %> <%= link_to 'confirm', activate_membership_path(application), method: :post, class:"btn btn-primary" %> </li>
    <% end %>
  </ul>

<% end %>

<% if current_user %>
  <% unless @beer_club.member? current_user %>
    <%= form_for(@membership) do |f| %>
       <%= f.hidden_field :beer_club_id %>
       <%= f.submit value:"join the club" %>
    <% end %>
  <% end %>

  <br>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>