<p id="notice"><%= notice %></p>

<h2> <%= @user.username %></h2>

<% if @user.ratings.any? %>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Favorite beer: <%= link_to @user.favorite_beer, @user.favorite_beer %> </p>
        <p>Favorite brewery: <%= link_to @user.favorite_brewery.name, @user.favorite_brewery %> </p>
        <p>Preferred style: <%= link_to @user.favorite_style, @user.favorite_style %> </p>
      </div>
    </div>
<% end %>

<h3>Beer clubs</h3>

<% if @user.beer_clubs.any? %>
  <p>
  <strong>member of</strong>
    <ul>
    <% @user.beer_clubs.each do |club| %>
       <li>
           <%= link_to club.name, club %>
       </li>
    <% end %>
    </ul>
  </p>
<% end %>

<% if @user.outstanding_club_applications.any? %>
    <p>
      <strong>applied membership of</strong>
      <ul>
      <% @user.outstanding_club_applications.each do |club| %>
          <li>
            <%= link_to club.name, club %>
          </li>
      <% end %>
      </ul>
    </p>
<% end %>

<h3>ratings</h3>

<% if @user.ratings.empty? %>
    <p>has not yet made ratings</p>
<% else %>
    <p>has made <%= pluralize( @user.ratings.count, 'rating') %></p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
      </li>
  <% end %>
</ul>

<% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
<% end %>