<p id="notice"><%= notice %></p>

<h2> <%= @user.username %></h2>

<% if @user.ratings.empty? %>
    <p>has not yet made ratings</p>
<% else %>
    <p>has made <%= pluralize( @user.ratings.count, 'rating') %></p>
<% end %>

<% if @user.beer_clubs.any? %>
  <p>
  member of
    <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
    <% end %>
  </p>
<% end %>

<h3>ratings</h3>

<% if @user.ratings.empty? %>
    <p>none so far</p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <br>
  <%= link_to 'Remove user account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>